<div class="close_cart_drapper w-7 h-7 close absolute right-6 top-3 cursor-pointer">
                        <svg class="text-black p-2.5 w-10 h-10 rounded-full bg-[#FFEA9F]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>


                    </div>