<!-- Dress Style Section -->
<section class="dess-style w-full">

    <div class="custom-container pt-[55px]">

        <div class=" rounded-4xl bg-[#F0F0F0] px-16 py-20">
            <!-- Heading -->
            <div class="heading flex justify-center items-center">
                <h1 class="text-black text-center text-[47px] font-bold leading-none font-integralcf">
                    BROWSE BY DRESS STYLE
                </h1>
            </div>

            <!-- cart content -->
            <div class="dress-style-content flex flex-col gap-[20px] pt-[70px]">
                <!-- first row -->
                <div class="dress-style1 h-[289px] flex gap-[20px] ">

                    <div class="w-[407px] h-[289px] flex justify-between items-start bg-[#FFFFFF] rounded-[20px]">
                        <h1
                            class="text-black font-satoshi text-[36px] not-italic font-bold leading-none pt-[32px] pl-[36px]">
                            Casual</h1>
                        <div class="img w-[251px] h-[291px]">
                            <img src="{{ 'dress1.png' | asset_url }}" alt="Dress" />
                        </div>
                    </div>


                    <div class="w-[684px] h-[289px] flex justify-between items-start bg-[#FFFFFF] rounded-[20px]">
                        <h1
                            class="text-black font-satoshi text-[36px] not-italic font-bold leading-none pt-[32px] pl-[36px]">
                            Formal</h1>
                        <div class="img w-[273px] h-[296px]">
                            <img src="{{ 'dress2.png' | asset_url }}" alt="Dress" />
                        </div>
                    </div>
                </div>

                <!-- second row -->
                <div class="dress-style1 h-[289px] flex gap-[20px] ">

                    <div class="w-[684px] h-[289px] flex justify-between items-start bg-[#FFFFFF] rounded-[20px]">
                        <h1
                            class="text-black font-satoshi text-[36px] not-italic font-bold leading-none pt-[32px] pl-[36px]">
                            Party</h1>
                        <div class="img w-[321px] h-[289px]">
                            <img src="{{ 'dress3.png' | asset_url}}" />
                        </div>
                    </div>

                    <div class="w-[407px] h-[289px] flex justify-between items-start bg-[#FFFFFF] rounded-[20px]">
                        <h1
                            class="text-black font-satoshi text-[36px] not-italic font-bold leading-none pt-[32px] pl-[36px]">
                            Gym</h1>
                        <div class="img w-[238px] h-[289px]">
                            <img src="{{ 'dress4.png' | asset_url}}"/>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>