 <!-- Hero Section -->
     <section class="heroarea bg-[#F0F0F0] relative">
         <!-- overlay -->
    <div class="absolute inset-0 bg-white opacity-80"></div>
      
      <div class="custom-container flex gap-14 relative z-10 ">
        <!-- hero left -->
        <div class="hero-left-text py-12 w-1/2 flex flex-col items-start gap-6">
            <h1 class="text-black font-integralcf text-6xl font-bold leading-[64px]">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
            <p class="text-[rgba(0,0,0,0.6)] w-full font-satoshi text-[16px] font-normal leading-[22px]">Browse through our diverse range of meticulously crafted garments, designed  to bring out your individuality and cater to your sense of style.</p>
            <a href="#" class="flex w-[210px] h-[52px] px-[54px] py-[16px] justify-center items-center gap-[12px] shrink-0 rounded-[62px] bg-black text-white font-[Satoshi] text-[16px] font-medium leading-none">
  Shop Now
</a>

<!-- Professional Data Divider Section -->
<div class="data-divider flex items-start gap-[32px] w-[596px] pt-[30px]">
  <!-- Card 1 -->
  <div class="flex flex-col text-start gap-[6px] w-[141px]">
    <h1 class="text-black font-satoshi text-[40px] font-bold leading-none">200+</h1>
    <p class="text-black/60 font-satoshi text-[16px] w-[141px] font-normal leading-tight">International Brands</p>
  </div>

  <!-- Divider -->
   <div class="">
  <div class="hidden md:block w-[1px] h-[74px] bg-black"></div>
  </div>

  <!-- Card 2 -->
  <div class="flex flex-col gap-[6px] w-[156px]">
    <h1 class="text-black font-satoshi text-[40px] font-bold leading-none">2,000+</h1>
    <p class="text-black/60 font-satoshi w-[156px] text-[16px] font-normal leading-tight">High-Quality Products</p>
  </div>

  <!-- Divider -->
     <div class="">
  <div class="hidden md:block w-[1px] h-[74px] bg-black"></div>
  </div>

  <!-- Card 3 -->
  <div class="flex flex-col gap-[6px]">
    <h1 class="text-black font-satoshi text-[40px] font-bold leading-none">30,000+</h1>
    <p class="text-black/60 font-satoshi text-base font-normal leading-tight">Happy Customers</p>
  </div>
</div>


        </div>

        <!-- hero right -->
         <div class="hero-right w-1/2 relative overflow-hidden -mr-0 md:-mr-80">
            <div class="herom-img absolute bottom-0 right-0 w-full max-w-full">
                <img src="{{ 'heroimg.png' | asset_url}}" 
                 class="w-full h-auto max-w-full object-contain"
                 alt="Hero Image"
                  loading="lazy" 
                />
            </div>

         </div>
      </div>
     </section>