  <!--  NEW ARRIVALS section -->
    <section class="new-araival-area w-full flex flex-col gap-[21px] px-[100px] pt-[28px]">
        <!-- heading -->
        <div class="heading flex justify-center items-center pt-[50px]">
        <h1 class="text-black text-center font-[700] text-[47px] leading-none font-integralcf">
  NEW ARRIVALS
</h1>
       </div>

     
        <div class="flex flex-col pt-[25px]">
             <div class="product-list pt-[13px] flex flex-col gap-[35px]">

            <!-- product card row 1 -->
            <div class="product-cards flex gap-[19.50px]">

                <!-- single card 1 -->
                <div class="product-card flex flex-col gap-[6px] w-[295px]">
                    <!-- card image -->
                    <div class="image w-[295px] h-[298px]">
                        <img src="{{ 'newarrival1.png' | asset_url}}" />
                    </div>
                    <!-- card content -->
                    <div class="card-content-wrapper pt-[10px]">
                        <!-- product text -->
                        <div class="text-area-wrapper flex flex-col gap-[6px]">
                            <h1 class="text-black font-satoshi text-[19.80px] not-italic font-bold leading-normal">
                               T-shirt With Tape Details</h1>

                            <!-- rating -->
                            <div class="rating flex gap-[16px] items-center">
                                <div class="rating-icon flex gap-[4.00px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                     <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
  <path d="M3.76418 16.9793L9.19822 13.9561V0.255066L6.57901 5.89498L0.405762 6.64316L4.96026 10.877L3.76418 16.9793Z" fill="#FFC633"/>
</svg>
                                </div>
                                <!-- rating rate -->
                                <div class="rating-rate">
                                    <h1 class="text-black font-satoshi text-[14px] not-italic font-normal leading-none">
                                        4.5/5</h1>
                                </div>
                            </div>

                            <!-- product price -->
                            <div class="product-price pt-[8px] pb-[2px] flex gap-[9px]">
                                <h1 class="text-black font-satoshi text-[24px] not-italic font-bold leading-none">
                                    $120
                                </h1>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- single card 2 -->
                <div class="product-card flex flex-col gap-[6px] w-[295px]">
                    <!-- card image -->
                    <div class="image w-[295px] h-[298px]">
                        <img src="{{ 'newarrival2.png' | asset_url}}" />
                    </div>
                    <!-- card content -->
                    <div class="card-content-wrapper pt-[10px]">
                        <!-- product text -->
                        <div class="text-area-wrapper flex flex-col gap-[6px]">
                            <h1 class="text-black font-satoshi text-[20px] not-italic font-bold leading-normal">
                                 Skinny Fit Jeans</h1>

                            <!-- rating -->
                            <div class="rating flex gap-[16px] items-center">
                                <div class="rating-icon flex gap-[4.00px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17"
                                        fill="none">
                                        <path
                                            d="M3.76418 16.9794L9.19822 13.9561V0.255127L6.57901 5.89504L0.405762 6.64322L4.96026 10.8771L3.76418 16.9794Z"
                                            fill="#FFC633" />
                                    </svg>
                                </div>
                                <!-- rating rate -->
                                <div class="rating-rate">
                                    <h1 class="text-black font-satoshi text-[14px] not-italic font-normal leading-none">
                                        3.5/5</h1>
                                </div>
                            </div>

                               <!-- product price -->
                            <div class="product-price pt-[8px] pb-[2px] flex gap-[9px]">
                                <h1 class="text-black font-satoshi text-[24px] not-italic font-bold leading-none">$240
                                </h1>
                                <h2
                                    class="text-[rgba(0,0,0,0.3)] font-satoshi text-[24px] not-italic font-bold leading-none line-through">
                                    $260</h2>
                                <div
                                    class="inline-flex px-[16px] py-[7px] justify-center items-center gap-[12px] rounded-[62px] bg-[rgba(255,51,51,0.1)]">
                                    <h1
                                        class="text-[#F33] font-[Satoshi] text-[12px] not-italic font-medium leading-none">
                                        -20%</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- single card 3 -->
                <div class="product-card flex flex-col gap-[6px] w-[295px]">
                    <!-- card image -->
                    <div class="image w-[295px] h-[298px]">
                        <img src="{{ 'newarrival3.png' | asset_url}}" />
                    </div>
                    <!-- card content -->
                    <div class="card-content-wrapper pt-[10px]">
                        <!-- product text -->
                        <div class="text-area-wrapper flex flex-col gap-[6px]">
                            <h1 class="text-black font-satoshi text-[20px] not-italic font-bold leading-normal">
                                Black Striped T-shirt</h1>

                            <!-- rating -->
                            <div class="rating flex gap-[16px] items-center">
                                <div class="rating-icon flex gap-[4.00px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17"
                                        fill="none">
                                        <path
                                            d="M3.76418 16.9794L9.19822 13.9561V0.255127L6.57901 5.89504L0.405762 6.64322L4.96026 10.8771L3.76418 16.9794Z"
                                            fill="#FFC633" />
                                    </svg>
                                </div>
                                <!-- rating rate -->
                                <div class="rating-rate">
                                    <h1 class="text-black font-satoshi text-[14px] not-italic font-normal leading-none">
                                        4.5/5</h1>
                                </div>
                            </div>

                            <!-- product price -->
                            <div class="product-price pt-[8px] pb-[2px] flex gap-[9px]">
                                <h1 class="text-black font-satoshi text-[24px] not-italic font-bold leading-none">$180
                                </h1>
                            </div>
                        </div>

                    </div>
                </div>

                  <!-- single card 4 -->
                <div class="product-card flex flex-col gap-[6px] w-[295px]">
                    <!-- card image -->
                    <div class="image w-[295px] h-[298px]">
                        <img src="{{ 'newarrival4.png' | asset_url}}" />
                    </div>
                    <!-- card content -->
                    <div class="card-content-wrapper pt-[10px]">
                        <!-- product text -->
                        <div class="text-area-wrapper flex flex-col gap-[6px]">
                            <h1 class="text-black font-satoshi text-[20px] not-italic font-bold leading-normal">
                                Sleeve Striped T-shirt</h1>

                            <!-- rating -->
                            <div class="rating flex gap-[16px] items-center">
                                <div class="rating-icon flex gap-[4.00px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17"
                                        fill="none">
                                        <path
                                            d="M9.24494 0.255127L11.8641 5.89504L18.0374 6.64322L13.4829 10.8771L14.679 16.9794L9.24494 13.9561L3.8109 16.9794L5.00697 10.8771L0.452479 6.64322L6.62573 5.89504L9.24494 0.255127Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
  <path d="M3.76418 16.9793L9.19822 13.9561V0.255066L6.57901 5.89498L0.405762 6.64316L4.96026 10.877L3.76418 16.9793Z" fill="#FFC633"/>
</svg>
                                </div>
                                <!-- rating rate -->
                                <div class="rating-rate">
                                    <h1 class="text-black font-satoshi text-[14px] not-italic font-normal leading-none">
                                        4.5/5</h1>
                                </div>
                            </div>

                              <!-- product price -->
                            <div class="product-price pt-[8px] pb-[2px] flex gap-[9px]">
                                <h1 class="text-black font-satoshi text-[24px] not-italic font-bold leading-none">$130
                                </h1>
                                <h2
                                    class="text-[rgba(0,0,0,0.3)] font-satoshi text-[24px] not-italic font-bold leading-none line-through">
                                    $160</h2>
                                <div
                                    class="inline-flex px-[16px] py-[7px] justify-center items-center gap-[12px] rounded-[62px] bg-[rgba(255,51,51,0.1)]">
                                    <h1
                                        class="text-[#F33] font-[Satoshi] text-[12px] not-italic font-medium leading-none">
                                        -30%</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- See All Button -->
             <div class="see-btn flex justify-center items-center">
                <button class="flex w-[218px] h-[52px] px-[54px] py-[16px] justify-center items-center gap-[12px] flex-shrink-0 rounded-[62px] border border-[rgba(0,0,0,0.10)] text-black text-[16px] font-[500] leading-none font-satoshi">
  View All
</button>

             </div>
        </div>
        </div>
        </section>