<!--  NEW ARRIVALS section -->
<section class="new-araival-area">
    <div class="custom-container flex flex-col gap-5 pt-[28px]">
        <!-- heading -->
        <div class="heading flex justify-center items-center pt-[50px]">
            <h1 class="text-black text-center font-[700] text-[47px] leading-none font-integralcf">
                NEW ARRIVALS
            </h1>
        </div>


        <div class="flex flex-col pt-6">
            <div class="product-list pt-3 flex flex-col gap-9">

                <!-- product card row 1 -->
                <div class="product-cards flex gap-5">
                    {% for item in (1..4) %}
                    {% include 'single-product' %}
                    {% endfor %}
                </div>

                <!-- See All Button -->
                <div class="see-btn flex justify-center items-center">
                    <button
                        class="flex w-[218px] h-[52px] px-[54px] py-[16px] justify-center items-center gap-[12px] flex-shrink-0 rounded-[62px] border border-[rgba(0,0,0,0.10)] text-black text-[16px] font-[500] leading-none font-satoshi">
                        View All
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- divider -->
    <div class="divider custom-container py-10 mx-auto">
        <div class="w-full h-[1px] bg-[rgba(0,0,0,0.10)] ">

        </div>
    </div>
</section>