 <div
                class="flex w-[170px] h-[52px] px-[20px] py-[16px] justify-between items-center flex-shrink-0 rounded-[62px] bg-[#F0F0F0]">
                <!-- Minus Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" class="minus-icon">
                    <path
                        d="M21.375 12C21.375 12.2984 21.2565 12.5845 21.0455 12.7955C20.8345 13.0065 20.5484 13.125 20.25 13.125H3.75C3.45163 13.125 3.16548 13.0065 2.9545 12.7955C2.74353 12.5845 2.625 12.2984 2.625 12C2.625 11.7016 2.74353 11.4155 2.9545 11.2045C3.16548 10.9935 3.45163 10.875 3.75 10.875H20.25C20.5484 10.875 20.8345 10.9935 21.0455 11.2045C21.2565 11.4155 21.375 11.7016 21.375 12Z"
                        fill="black" />
                </svg>
                <span class="text-black font-satoshi text-[16px] not-italic font-medium leading-none text-center product-quantity">1</span>

                <!-- Quantity Number -->
              <input 
  type="number" 
  name="quantity" 
  min="1" 
  value="1"
  hidden
  required
  class="text-black font-satoshi text-[16px] not-italic font-medium leading-none bg-transparent border-none outline-none w-[44px] text-center p-0 appearance-none"
/>


                <!-- Plus Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" class="plus-icon">
                    <path
                        d="M21.375 12C21.375 12.2984 21.2565 12.5845 21.0455 12.7955C20.8345 13.0065 20.5484 13.125 20.25 13.125H13.125V20.25C13.125 20.5484 13.0065 20.8345 12.7955 21.0455C12.5845 21.2565 12.2984 21.375 12 21.375C11.7016 21.375 11.4155 21.2565 11.2045 21.0455C10.9935 20.8345 10.875 20.5484 10.875 20.25V13.125H3.75C3.45163 13.125 3.16548 13.0065 2.9545 12.7955C2.74353 12.5845 2.625 12.2984 2.625 12C2.625 11.7016 2.74353 11.4155 2.9545 11.2045C3.16548 10.9935 3.45163 10.875 3.75 10.875H10.875V3.75C10.875 3.45163 10.9935 3.16548 11.2045 2.9545C11.4155 2.74353 11.7016 2.625 12 2.625C12.2984 2.625 12.5845 2.74353 12.7955 2.9545C13.0065 3.16548 13.125 3.45163 13.125 3.75V10.875H20.25C20.5484 10.875 20.8345 10.9935 21.0455 11.2045C21.2565 11.4155 21.375 11.7016 21.375 12Z"
                        fill="black" />
                </svg>
            </div>

             <script>

jQuery(document).ready(function () {
  // product add and minus button
const qtyInput = $('input[name="quantity"]'); 
const product_quantity = $('.product-quantity'); 
const plusBtn = $('.plus-icon');
const minusBtn = $('.minus-icon');

plusBtn.on('click', function () {
    let value = parseInt(product_quantity.text()) || 1;
    value++;
    product_quantity.text(value);  
    qtyInput.val(value);         
});

minusBtn.on('click', function () {
    let value = parseInt(product_quantity.text()) || 1;
    if (value > 1) {
        value--;
        product_quantity.text(value);
        qtyInput.val(value);          
    }
                   
});
});
        </script>