<!-- top selling section -->
<section class="new-araival-area py-5">
    <div class="custom-container flex flex-col gap-[21px]">
        <!-- heading -->
        <div class="heading flex justify-center items-center">
            <h1 class="text-black text-center font-[700] text-[47px] leading-none font-integralcf uppercase">
                top selling
            </h1>
        </div>


        <div class="flex flex-col pt-[25px]">
            <div class="product-list pt-[13px] flex flex-col gap-[35px]">
                <!-- product card row 1 -->
                <div class="product-cards flex gap-[19.50px]">
                    {% for item in (1..4) %}
                    {% include 'single-product' %}
                    {% endfor %}
                </div>

                <!-- See All Button -->
                <div class="see-btn flex justify-center items-center">
                    <button
                        class="flex w-[218px] h-[52px] px-[54px] py-[16px] justify-center items-center gap-[12px] flex-shrink-0 rounded-[62px] border border-[rgba(0,0,0,0.10)] text-black text-[16px] font-[500] leading-none font-satoshi">
                        View All
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>