<!-- company trust banner -->
<section class="banner relative z-50 -mt-[6px] w-full h-[122px] bg-[#000000] px-[5%] lg:px-[7.5%] flex justify-around items-center gap-16">
   {% for block in section.blocks %}
      <div class="banner-img w-[250px] flex items-center justify-center overflow-hidden">
        {{ block.settings.banner_image | image_url: width: 250 | image_tag: class: "w-full h-full object-contain" }}
      </div>
   {% endfor %}
</section>


{% schema %}
 { 
  "name" : "Company Banner",
  "disabled_on" :{
        "groups" : ["header", "footer"]
    },
  "presets": [
    {
      "name": "Company Banner"
    }
  ],
   "blocks": [
     {
       "name": "Company Banner",
       "type": "logos",
       "settings": [
         {
           "type": "image_picker",
           "id": "banner_image",
           "label": "Upload Banner Image"
         },
       {
         "type" : "url",
         "id" : "url",
         "label" : "URL"
         },
       ]
     }
   ]
 } 
{% endschema %}