<!-- Testimonial section -->
<section class="customers">
    <div class="custom-container pt-12 pb-6 flex flex-col gap-4">
        <!-- heading and button -->
        <div class="heading-btn pb-5 flex justify-between items-start">
            <h1 class="text-black text-[48px] font-bold leading-none font-integralcf">OUR HAPPY CUSTOMERS</h1>
            <div class="arrow-btn flex items-center gap-3">
    <!-- Left Arrow -->
    <div class="arrow-left cursor-pointer p-3 rounded-full transition-all duration-300 
                hover:bg-yellow-100 active:bg-yellow-300" id="testimonial-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none"
            class="transition-all duration-300 hover:fill-white">
            <path
                d="M9.70406 4.4541L2.95406 11.2041C2.84918 11.3086 2.76597 11.4328 2.70919 11.5696C2.6524 11.7063 2.62317 11.8529 2.62317 12.001C2.62317 12.149 2.6524 12.2957 2.70919 12.4324C2.76597 12.5691 2.84918 12.6933 2.95406 12.7979L9.70406 19.5479C9.91541 19.7592 10.2021 19.8779 10.5009 19.8779C10.7998 19.8779 11.0865 19.7592 11.2978 19.5479C11.5092 19.3365 11.6279 19.0499 11.6279 18.751C11.6279 18.4521 11.5092 18.1654 11.2978 17.9541L6.46875 13.125L20.25 13.125C20.5484 13.125 20.8345 13.0065 21.0455 12.7955C21.2565 12.5846 21.375 12.2984 21.375 12C21.375 11.7017 21.2565 11.4155 21.0455 11.2045C20.8345 10.9936 20.5484 10.875 20.25 10.875L6.46875 10.875L11.2987 6.04598C11.5101 5.83463 11.6288 5.54799 11.6288 5.2491C11.6288 4.95022 11.5101 4.66357 11.2987 4.45223C11.0874 4.24088 10.8008 4.12215 10.5019 4.12215C10.203 4.12215 9.91634 4.24088 9.705 4.45223L9.70406 4.4541Z"
                fill="black" />
        </svg>
    </div>

    <!-- Right Arrow -->
    <div class="arrow-right cursor-pointer p-3 rounded-full transition-all duration-300 
                hover:bg-yellow-100 active:bg-yellow-300" id="testimonial-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none"
            class="transition-all duration-300 hover:fill-white">
            <path
                d="M14.2959 4.4541L21.0459 11.2041C21.1508 11.3086 21.234 11.4328 21.2908 11.5696C21.3476 11.7063 21.3768 11.8529 21.3768 12.001C21.3768 12.149 21.3476 12.2957 21.2908 12.4324C21.234 12.5691 21.1508 12.6933 21.0459 12.7979L14.2959 19.5479C14.0846 19.7592 13.7979 19.8779 13.4991 19.8779C13.2002 19.8779 12.9135 19.7592 12.7022 19.5479C12.4908 19.3365 12.3721 19.0499 12.3721 18.751C12.3721 18.4521 12.4908 18.1654 12.7022 17.9541L17.5313 13.125L3.75 13.125C3.45163 13.125 3.16548 13.0065 2.9545 12.7955C2.74353 12.5846 2.625 12.2984 2.625 12C2.625 11.7017 2.74353 11.4155 2.95451 11.2045C3.16548 10.9936 3.45163 10.875 3.75 10.875L17.5313 10.875L12.7013 6.04598C12.4899 5.83463 12.3712 5.54799 12.3712 5.2491C12.3712 4.95022 12.4899 4.66357 12.7013 4.45223C12.9126 4.24088 13.1992 4.12215 13.4981 4.12215C13.797 4.12215 14.0837 4.24088 14.295 4.45223L14.2959 4.4541Z"
                fill="black" />
        </svg>
    </div>
</div>

        </div>

            <div class="courses-wrapper slick-items">
                    <!-- single cart 1 -->
                        <div class="flex flex-wrap w-full md:max-w-[400px] md:max-h-[240px] p-[28px_32px]  gap-[24px_342px] rounded-[20px] border border-[rgba(0,0,0,0.10)]">

                            <!-- rating -->
                            <div class="rating flex items-center">
                                <div class="rating-icon flex gap-[7.10px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                </div>
                            </div>
                            <div class="client-name flex items-center pt-[5px] gap-[4px]">
                                <h1 class="text-black font-satoshi text-[20px] font-bold leading-[22px]">Sarah M.
                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                    fill="none">
                                    <path
                                        d="M12 2.82898C10.0716 2.82898 8.18657 3.40081 6.58319 4.47215C4.97982 5.54349 3.73013 7.06624 2.99218 8.84782C2.25422 10.6294 2.06114 12.5898 2.43735 14.4811C2.81355 16.3724 3.74215 18.1097 5.10571 19.4733C6.46928 20.8368 8.20656 21.7654 10.0979 22.1416C11.9892 22.5178 13.9496 22.3248 15.7312 21.5868C17.5127 20.8489 19.0355 19.5992 20.1068 17.9958C21.1782 16.3924 21.75 14.5073 21.75 12.579C21.7473 9.99396 20.7192 7.51559 18.8913 5.6877C17.0634 3.85982 14.585 2.83171 12 2.82898ZM16.2806 10.8596L11.0306 16.1096C10.961 16.1793 10.8783 16.2347 10.7872 16.2724C10.6962 16.3101 10.5986 16.3296 10.5 16.3296C10.4014 16.3296 10.3038 16.3101 10.2128 16.2724C10.1218 16.2347 10.039 16.1793 9.96938 16.1096L7.71938 13.8596C7.57865 13.7189 7.49959 13.528 7.49959 13.329C7.49959 13.13 7.57865 12.9391 7.71938 12.7984C7.86011 12.6576 8.05098 12.5786 8.25 12.5786C8.44903 12.5786 8.6399 12.6576 8.78063 12.7984L10.5 14.5187L15.2194 9.79835C15.2891 9.72867 15.3718 9.6734 15.4628 9.63568C15.5539 9.59797 15.6515 9.57856 15.75 9.57856C15.8486 9.57856 15.9461 9.59797 16.0372 9.63568C16.1282 9.6734 16.2109 9.72867 16.2806 9.79835C16.3503 9.86804 16.4056 9.95076 16.4433 10.0418C16.481 10.1329 16.5004 10.2304 16.5004 10.329C16.5004 10.4275 16.481 10.5251 16.4433 10.6162C16.4056 10.7072 16.3503 10.7899 16.2806 10.8596Z"
                                        fill="#01AB31" />
                                </svg>
                            </div>
                            <p class="text-[rgba(0,0,0,0.60)] font-satoshi text-[16px] font-normal leading-[22px] text-ellipsis" >"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”
                            </p>
                        </div>
                     <!-- single cart 1 -->
                        <div class="flex flex-wrap w-full md:max-w-[400px] md:max-h-[240px] p-[28px_32px]  gap-[24px_342px] rounded-[20px] border border-[rgba(0,0,0,0.10)]">

                            <!-- rating -->
                            <div class="rating flex items-center">
                                <div class="rating-icon flex gap-[7.10px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                </div>
                            </div>
                            <div class="client-name flex items-center pt-[5px] gap-[4px]">
                                <h1 class="text-black font-satoshi text-[20px] font-bold leading-[22px]">Sarah M.
                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                    fill="none">
                                    <path
                                        d="M12 2.82898C10.0716 2.82898 8.18657 3.40081 6.58319 4.47215C4.97982 5.54349 3.73013 7.06624 2.99218 8.84782C2.25422 10.6294 2.06114 12.5898 2.43735 14.4811C2.81355 16.3724 3.74215 18.1097 5.10571 19.4733C6.46928 20.8368 8.20656 21.7654 10.0979 22.1416C11.9892 22.5178 13.9496 22.3248 15.7312 21.5868C17.5127 20.8489 19.0355 19.5992 20.1068 17.9958C21.1782 16.3924 21.75 14.5073 21.75 12.579C21.7473 9.99396 20.7192 7.51559 18.8913 5.6877C17.0634 3.85982 14.585 2.83171 12 2.82898ZM16.2806 10.8596L11.0306 16.1096C10.961 16.1793 10.8783 16.2347 10.7872 16.2724C10.6962 16.3101 10.5986 16.3296 10.5 16.3296C10.4014 16.3296 10.3038 16.3101 10.2128 16.2724C10.1218 16.2347 10.039 16.1793 9.96938 16.1096L7.71938 13.8596C7.57865 13.7189 7.49959 13.528 7.49959 13.329C7.49959 13.13 7.57865 12.9391 7.71938 12.7984C7.86011 12.6576 8.05098 12.5786 8.25 12.5786C8.44903 12.5786 8.6399 12.6576 8.78063 12.7984L10.5 14.5187L15.2194 9.79835C15.2891 9.72867 15.3718 9.6734 15.4628 9.63568C15.5539 9.59797 15.6515 9.57856 15.75 9.57856C15.8486 9.57856 15.9461 9.59797 16.0372 9.63568C16.1282 9.6734 16.2109 9.72867 16.2806 9.79835C16.3503 9.86804 16.4056 9.95076 16.4433 10.0418C16.481 10.1329 16.5004 10.2304 16.5004 10.329C16.5004 10.4275 16.481 10.5251 16.4433 10.6162C16.4056 10.7072 16.3503 10.7899 16.2806 10.8596Z"
                                        fill="#01AB31" />
                                </svg>
                            </div>
                            <p class="text-[rgba(0,0,0,0.60)] font-satoshi text-[16px] font-normal leading-[22px] text-ellipsis" >"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”
                            </p>
                        </div>
                      <!-- single cart 1 -->
                        <div class="flex flex-wrap w-full md:max-w-[400px] md:max-h-[240px] p-[28px_32px]  gap-[24px_342px] rounded-[20px] border border-[rgba(0,0,0,0.10)]">

                            <!-- rating -->
                            <div class="rating flex items-center">
                                <div class="rating-icon flex gap-[7.10px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                </div>
                            </div>
                            <div class="client-name flex items-center pt-[5px] gap-[4px]">
                                <h1 class="text-black font-satoshi text-[20px] font-bold leading-[22px]">Sarah M.
                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                    fill="none">
                                    <path
                                        d="M12 2.82898C10.0716 2.82898 8.18657 3.40081 6.58319 4.47215C4.97982 5.54349 3.73013 7.06624 2.99218 8.84782C2.25422 10.6294 2.06114 12.5898 2.43735 14.4811C2.81355 16.3724 3.74215 18.1097 5.10571 19.4733C6.46928 20.8368 8.20656 21.7654 10.0979 22.1416C11.9892 22.5178 13.9496 22.3248 15.7312 21.5868C17.5127 20.8489 19.0355 19.5992 20.1068 17.9958C21.1782 16.3924 21.75 14.5073 21.75 12.579C21.7473 9.99396 20.7192 7.51559 18.8913 5.6877C17.0634 3.85982 14.585 2.83171 12 2.82898ZM16.2806 10.8596L11.0306 16.1096C10.961 16.1793 10.8783 16.2347 10.7872 16.2724C10.6962 16.3101 10.5986 16.3296 10.5 16.3296C10.4014 16.3296 10.3038 16.3101 10.2128 16.2724C10.1218 16.2347 10.039 16.1793 9.96938 16.1096L7.71938 13.8596C7.57865 13.7189 7.49959 13.528 7.49959 13.329C7.49959 13.13 7.57865 12.9391 7.71938 12.7984C7.86011 12.6576 8.05098 12.5786 8.25 12.5786C8.44903 12.5786 8.6399 12.6576 8.78063 12.7984L10.5 14.5187L15.2194 9.79835C15.2891 9.72867 15.3718 9.6734 15.4628 9.63568C15.5539 9.59797 15.6515 9.57856 15.75 9.57856C15.8486 9.57856 15.9461 9.59797 16.0372 9.63568C16.1282 9.6734 16.2109 9.72867 16.2806 9.79835C16.3503 9.86804 16.4056 9.95076 16.4433 10.0418C16.481 10.1329 16.5004 10.2304 16.5004 10.329C16.5004 10.4275 16.481 10.5251 16.4433 10.6162C16.4056 10.7072 16.3503 10.7899 16.2806 10.8596Z"
                                        fill="#01AB31" />
                                </svg>
                            </div>
                            <p class="text-[rgba(0,0,0,0.60)] font-satoshi text-[16px] font-normal leading-[22px] text-ellipsis" >"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”
                            </p>
                        </div>
                     <!-- single cart 1 -->
                        <div class="flex flex-wrap w-full md:max-w-[400px] md:max-h-[240px] p-[28px_32px]  gap-[24px_342px] rounded-[20px] border border-[rgba(0,0,0,0.10)]">

                            <!-- rating -->
                            <div class="rating flex items-center">
                                <div class="rating-icon flex gap-[7.10px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                </div>
                            </div>
                            <div class="client-name flex items-center pt-[5px] gap-[4px]">
                                <h1 class="text-black font-satoshi text-[20px] font-bold leading-[22px]">Sarah M.
                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                    fill="none">
                                    <path
                                        d="M12 2.82898C10.0716 2.82898 8.18657 3.40081 6.58319 4.47215C4.97982 5.54349 3.73013 7.06624 2.99218 8.84782C2.25422 10.6294 2.06114 12.5898 2.43735 14.4811C2.81355 16.3724 3.74215 18.1097 5.10571 19.4733C6.46928 20.8368 8.20656 21.7654 10.0979 22.1416C11.9892 22.5178 13.9496 22.3248 15.7312 21.5868C17.5127 20.8489 19.0355 19.5992 20.1068 17.9958C21.1782 16.3924 21.75 14.5073 21.75 12.579C21.7473 9.99396 20.7192 7.51559 18.8913 5.6877C17.0634 3.85982 14.585 2.83171 12 2.82898ZM16.2806 10.8596L11.0306 16.1096C10.961 16.1793 10.8783 16.2347 10.7872 16.2724C10.6962 16.3101 10.5986 16.3296 10.5 16.3296C10.4014 16.3296 10.3038 16.3101 10.2128 16.2724C10.1218 16.2347 10.039 16.1793 9.96938 16.1096L7.71938 13.8596C7.57865 13.7189 7.49959 13.528 7.49959 13.329C7.49959 13.13 7.57865 12.9391 7.71938 12.7984C7.86011 12.6576 8.05098 12.5786 8.25 12.5786C8.44903 12.5786 8.6399 12.6576 8.78063 12.7984L10.5 14.5187L15.2194 9.79835C15.2891 9.72867 15.3718 9.6734 15.4628 9.63568C15.5539 9.59797 15.6515 9.57856 15.75 9.57856C15.8486 9.57856 15.9461 9.59797 16.0372 9.63568C16.1282 9.6734 16.2109 9.72867 16.2806 9.79835C16.3503 9.86804 16.4056 9.95076 16.4433 10.0418C16.481 10.1329 16.5004 10.2304 16.5004 10.329C16.5004 10.4275 16.481 10.5251 16.4433 10.6162C16.4056 10.7072 16.3503 10.7899 16.2806 10.8596Z"
                                        fill="#01AB31" />
                                </svg>
                            </div>
                            <p class="text-[rgba(0,0,0,0.60)] font-satoshi text-[16px] font-normal leading-[22px] text-ellipsis" >"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”
                            </p>
                        </div>

                         <!-- single cart 1 -->
                        <div class="flex flex-wrap w-full md:max-w-[400px] md:max-h-[240px] p-[28px_32px]  gap-[24px_342px] rounded-[20px] border border-[rgba(0,0,0,0.10)]">

                            <!-- rating -->
                            <div class="rating flex items-center">
                                <div class="rating-icon flex gap-[7.10px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 25 23"
                                        fill="none">
                                        <path
                                            d="M12.3562 0L15.8569 7.53796L24.1077 8.53794L18.0204 14.1966L19.619 22.3526L12.3562 18.3119L5.09341 22.3526L6.69201 14.1966L0.604756 8.53794L8.85555 7.53796L12.3562 0Z"
                                            fill="#FFC633" />
                                    </svg>
                                </div>
                            </div>
                            <div class="client-name flex items-center pt-[5px] gap-[4px]">
                                <h1 class="text-black font-satoshi text-[20px] font-bold leading-[22px]">Sarah M.
                                </h1>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                    fill="none">
                                    <path
                                        d="M12 2.82898C10.0716 2.82898 8.18657 3.40081 6.58319 4.47215C4.97982 5.54349 3.73013 7.06624 2.99218 8.84782C2.25422 10.6294 2.06114 12.5898 2.43735 14.4811C2.81355 16.3724 3.74215 18.1097 5.10571 19.4733C6.46928 20.8368 8.20656 21.7654 10.0979 22.1416C11.9892 22.5178 13.9496 22.3248 15.7312 21.5868C17.5127 20.8489 19.0355 19.5992 20.1068 17.9958C21.1782 16.3924 21.75 14.5073 21.75 12.579C21.7473 9.99396 20.7192 7.51559 18.8913 5.6877C17.0634 3.85982 14.585 2.83171 12 2.82898ZM16.2806 10.8596L11.0306 16.1096C10.961 16.1793 10.8783 16.2347 10.7872 16.2724C10.6962 16.3101 10.5986 16.3296 10.5 16.3296C10.4014 16.3296 10.3038 16.3101 10.2128 16.2724C10.1218 16.2347 10.039 16.1793 9.96938 16.1096L7.71938 13.8596C7.57865 13.7189 7.49959 13.528 7.49959 13.329C7.49959 13.13 7.57865 12.9391 7.71938 12.7984C7.86011 12.6576 8.05098 12.5786 8.25 12.5786C8.44903 12.5786 8.6399 12.6576 8.78063 12.7984L10.5 14.5187L15.2194 9.79835C15.2891 9.72867 15.3718 9.6734 15.4628 9.63568C15.5539 9.59797 15.6515 9.57856 15.75 9.57856C15.8486 9.57856 15.9461 9.59797 16.0372 9.63568C16.1282 9.6734 16.2109 9.72867 16.2806 9.79835C16.3503 9.86804 16.4056 9.95076 16.4433 10.0418C16.481 10.1329 16.5004 10.2304 16.5004 10.329C16.5004 10.4275 16.481 10.5251 16.4433 10.6162C16.4056 10.7072 16.3503 10.7899 16.2806 10.8596Z"
                                        fill="#01AB31" />
                                </svg>
                            </div>
                            <p class="text-[rgba(0,0,0,0.60)] font-satoshi text-[16px] font-normal leading-[22px] text-ellipsis" >"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”
                            </p>
                        </div>
       

        </div>
    </div>
</section>

<script>

    jQuery(document).ready(function($){
    /*----- courses section slick add -----*/
    $(".slick-items").slick({ 
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: false,
         arrows: false,
          centerMode: true,
           centerPadding: '60px',
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 2,
                    arrows: false,
        centerMode: true,
        centerPadding: '40px',
                }
            },
            {
                breakpoint: 576,
                settings: {
                    slidesToShow: 1,
                    arrows: false,
        centerMode: true,
        centerPadding: '40px',
                }
            }
        ]
    });

    $('#testimonial-prev').click(function(){
        $('.slick-items').slick('slickPrev');
    })
    $('#testimonial-next').click(function(){
        $('.slick-items').slick('slickNext');
    });
});
</script>


{% schema %}
  {
     "name" : "Testimonial",
     "disabled_on" :{
        "groups" : ["header", "footer"]
    },
     "presets": [
    {
      "name": "Testimonial"
    }
  ]
  } 
{% endschema %}
