/* Custom Fonts */
@font-face {
  font-family: 'IntegralCF';
  src: url('IntegralCF-Bold.woff') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'IntegralCF';
  src: url('IntegralCF-ExtraBold.woff') format('opentype');
  font-weight: 700;
}



@font-face {
  font-family: 'Satoshi';
   src: url('Satoshi-Regular.woff') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Satoshi';
   src: url('Satoshi-Regular.woff2') format('truetype');
  font-weight: 400;
}





@import "tailwindcss";

@theme{
  --font-satoshi: 'Satoshi', 'sans-serif';
  --font-integralcf: 'IntegralCF', 'sans-serif'
}

.hidden-radio {
  display: none;
}

.option-button {
  background-color: #F0F0F0;
  transition: all 0.2s;
padding: 8px 16px;
border-radius: 62px;
}

.hidden-radio:checked + .option-button {
  background-color: #000000;
  color: #fff;
  border-color: #ff6600;
}


/*----- slick css -----*/
.courses-wrapper .slick-slide {
  padding: 0 14px;
}

.courses-wrapper .slick-list {
  margin: 0 -12px;
}

.courses-wrapper .left-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 59px;
  top: -135px;
  border: 1px solid #ffbb00bb;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s;
}


.courses-wrapper-right-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: -135px;
  background-color: #FFB900;
  border: 1px solid #ffbb00bb;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s;
}


.custom-container{
    @apply w-full px-[5%] lg:px-[7%] mx-auto;
}