<script src="{{ 'cart.js' | asset_url }}"></script>
{% section 'breadcrumb' %}


<!-- cart details -->
<div class="cart-details w-full pt-[24px] px-[100px]">
  <!-- cart heading -->
  <h1 class="text-black font-integralcf text-[39.50px] font-bold leading-none pt-[7px] pb-[28px] uppercase">Your cart
  </h1>
 
  <div class="cart-product-content flex gap-[20px]">
  <!--- data from cart.js-->
    </div>

</div>


<!--- data come from cart.js-->
